In [13]:
import pandas as pd
import numpy as np

df_movies = pd.read_csv('./data_2/lens-movies.csv')
df_rating = pd.read_csv('./data_2/lens-ratings.csv')

df = pd.merge(df_rating, df_movies, on='movieId')

df_grpby = df \
     .groupby(by = ['movieId'])['rating'] \
     .count() \
     .reset_index() \
     .rename(columns = {'rating': 'totalRatingCount'})

df = df.merge(df_grpby, left_on = 'movieId', right_on = 'movieId', how = 'left')

popularity_threshold = 50
df_popularity= df.query('totalRatingCount >= @popularity_threshold')

# On crÃ©e un pivot, mais dans l'autre sens cette fois-ci
df = df_popularity.pivot_table(index='userId',columns='movieId',values='rating')
df

movieId,1,2,3,6,7,10,11,16,17,19,...,91500,91529,96079,99114,106782,109374,109487,112852,116797,122904
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.5,NaN,3.5,5.0,NaN,3.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,2.5,NaN,2.5,NaN,4.0,2.0,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,4.0,NaN,4.5,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,5.0,NaN,NaN,NaN,4.5,NaN,NaN,...,4.0,4.5,4.0,4.5,4.5,4.5,3.5,4.5,NaN,3.0

In [14]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

sparse = csr_matrix(df.fillna(0).values)

K = 50
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=K)
knn.fit(sparse)

# Random user
rand_int = np.random.choice(df.shape[0])
# User query
user_query = df.iloc[rand_int, :]
user_query_no_na = user_query.fillna(0)

distances, indices = knn.kneighbors(user_query_no_na.values.reshape(1, -1))

print('Target user has ID : ' + str(rand_int + 1))

for i,x in enumerate(distances.flatten()[0:10]):
    print(f'Kneighbor {indices.flatten()[i] + 1} with distance {x}')

Target user has ID : 362
Kneighbor 362 with distance 0.0
Kneighbor 348 with distance 0.24075940506863347
Kneighbor 526 with distance 0.24124501896473283
Kneighbor 387 with distance 0.3243535399650076
Kneighbor 119 with distance 0.32592240284514273
Kneighbor 489 with distance 0.33394544110781166
Kneighbor 275 with distance 0.3551589717736966
Kneighbor 453 with distance 0.35943395942350675
Kneighbor 268 with distance 0.3783402747249822
Kneighbor 204 with distance 0.37937860204826135

In [15]:
def note_matrix(df, user_query, K):
    notes_matrice = df.iloc[indices.reshape(K, )]
    notes_matrice_np = notes_matrice.to_numpy()
    user_mask = np.isnan(user_query)
    user_mask_np = user_mask.to_numpy().reshape((450,))
    columns_index = notes_matrice.columns.to_numpy()
    columns_index = columns_index[user_mask_np]
    notes_matrice_np = notes_matrice_np[:, user_mask_np]

    return pd.DataFrame(notes_matrice_np, columns=columns_index)

# Let's build our main matrix

note_matrix = note_matrix(df, user_query, K)
note_matrix['mean'] = note_matrix.agg(['mean'], axis=1)

distance_serie = pd.Series(distances.reshape((K,)))
note_matrix['distances'] = distance_serie

note_matrix

,2,3,6,7,10,11,16,17,19,21,...,96079,99114,106782,109374,109487,112852,116797,122904,mean,distances
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,NaN,NaN,NaN,3.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,0.240759
2,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.666667,0.241245
3,NaN,NaN,5.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.125000,0.324354
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,0.325922
5,NaN,4.0,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.866667,0.333945
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.500000,0.355159
7,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.857143,0.359434
8,NaN,3.0,3.0,3.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.076923,0.378340
9,NaN,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.666667,0.379379
10,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,0.390658
11,NaN,NaN,4.0,3.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,0.406736
12,NaN,NaN,NaN,3.0,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.357143,0.417124
13,NaN,3.0,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.444444,0.427873
14,NaN,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.200000,0.430651
15,NaN,4.0,5.0,3.0,NaN,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.230769,0.443048
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.600000,0.444931
17,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.181818,0.445041
18,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.875000,0.460436
19,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,0.489727
20,NaN,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.333333,0.524730
21,NaN,3.0,NaN,NaN,NaN,NaN,NaN,5.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.312500,0.562960
22,NaN,3.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.815789,0.577645
23,4.0,NaN,5.0,NaN,3.0,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.287671,0.612098
24,3.0,5.0,3.0,4.0,4.0,3.0,3.0,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.230769,0.616298
25,NaN,NaN,NaN,4.0,4.0,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.896552,0.623174
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.666667,0.686409
27,2.0,1.0,2.0,NaN,4.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.106383,0.699110
28,NaN,NaN,3.0,NaN,3.0,NaN,3.0,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.574468,0.700258
29,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.650000,0.705029
30,NaN,NaN,3.0,4.0,3.0,5.0,NaN,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.060606,0.705928
31,NaN,NaN,4.0,NaN,4.0,NaN,NaN,NaN,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.594595,0.708545
32,NaN,4.0,NaN,3.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.869565,0.709294
33,NaN,NaN,5.0,NaN,NaN,NaN,5.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.918367,0.733758
34,1.5,NaN,4.5,NaN,NaN,NaN,4.5,0.5,4.0,2.0,...,NaN,4.0,NaN,NaN,5.0,NaN,NaN,NaN,3.526786,0.735215
35,NaN,NaN,5.0,NaN,3.0,4.0,4.0,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.793814,0.745980
36,4.0,NaN,NaN,4.0,4.0,5.0,NaN,3.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.982456,0.746000
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.365385,0.746142
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.088889,0.750532
39,5.0,4.0,NaN,NaN,3.0,NaN,3.0,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.985294,0.751614
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.782609,0.753873
41,NaN,NaN,5.0,NaN,4.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.050000,0.756370
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.140000,0.758197
43,NaN,NaN,3.0,NaN,3.0,3.0,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.689655,0.762750
44,4.0,NaN,3.0,NaN,3.0,3.0,3.0,NaN,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.493333,0.765242
45,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.250000,0.765657
46,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,0.766245
47,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,0.771383
48,NaN,NaN,NaN,NaN,4.5,NaN,NaN,NaN,2.0,NaN,...,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.010753,0.771530
49,NaN,NaN,5.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.971429,0.777089

In [16]:
def predict_notes(
    item_notes,
    distances,
    mean_users_notes,
    mean_target_notes):

    item_notes = np.array(item_notes)

    # We need to apply a mask, in order to
    # do calculation only on available ratings :
    mask = ~np.isnan(item_notes)
    item_notes = item_notes[mask]
    mean_users_notes = mean_users_notes.to_numpy()[mask]
    distances = distances.to_numpy()[mask]

    # Take the inverse of distance, so we give more
    # weight to closer vectors.
    distances = 1 - distances

    weighted_notes = item_notes - mean_users_notes
    # mean_target_notes is our constant
    return mean_target_notes +\
        np.dot(distances, weighted_notes) / np.sum(np.abs(distances))

In [17]:
# Transpose for allowing itertuples, and remove user column :
note_matrix_transposed = note_matrix.transpose().iloc[:,1:]

# Isolate distance and mean rows :
distances = note_matrix_transposed.iloc[-1,:]
mean = note_matrix_transposed.iloc[-2,:]

# Remove distance/mean rows since we don't need them anymore :
note_matrix_cleaned = note_matrix_transposed.iloc[:-2,:]

user_mean = user_query.mean()

predictions = []
# Here we will iterate over each movie,
# and get a rating prediction, only if
# the iterated movie was noted by at
# least one neighbor :
for row in note_matrix_cleaned.itertuples(index=False):
    predictions.append(predict_notes(row, distances, mean, user_mean))

predictions = np.array(predictions)
predictions

/tmp/ipykernel_12705/2311525962.py:23: RuntimeWarning: invalid value encountered in double_scalars
  np.dot(distances, weighted_notes) / np.sum(np.abs(distances))

array([3.78191063, 3.73568463, 4.34730216, 3.7325709 , 3.99857397,
       4.45240736, 4.08235676, 3.97281937, 3.28390823, 3.98540789,
       4.28271734, 4.79462905, 4.14880813, 3.64395202, 4.44079817,
       3.16040587, 4.42992311, 4.22198365, 2.43348007, 4.13655736,
       4.44117613, 4.30801442, 3.88872727, 4.55661656, 3.33232638,
       3.08224987, 3.39491301, 4.29278347, 3.96157433, 4.22941552,
       3.6644766 , 3.51664063, 3.30932041, 3.60322292, 3.16459782,
       4.20968422, 4.11589404, 3.36949378, 3.78188525, 4.21155961,
       4.33878081, 2.89491551, 4.24831605, 3.89891767, 4.30501872,
       4.06184851, 3.85347271, 4.09557434, 4.89486263, 3.77795863,
       3.98800113, 4.12698164, 3.73988246, 3.46113239, 4.30746314,
       4.11617754, 3.52463405, 4.40298023, 3.8166758 , 4.23303245,
       4.06040918, 3.82248567, 4.07599191, 4.25131368, 3.84827218,
       3.78759063, 3.7537247 , 3.73593422, 2.94309604, 3.31459108,
       4.30532576, 3.44751773, 4.01578814, 4.54801798, 3.59590673,
       4.26448512, 4.66145053, 4.02871493, 3.75302405, 4.33779196,
       3.8196701 , 3.54968174, 4.75853006, 4.19339031, 4.99617452,
       4.05102744, 3.54177404, 3.86998729, 4.36626097, 2.93973725,
       3.84766611, 4.45834289, 4.68020164, 4.10106043, 3.90628532,
       4.65118729, 3.85742299, 4.28080445, 3.90722523, 3.68891204,
       4.80752675, 3.97049468, 3.83071294, 4.08974549, 5.31756591,
       3.50685008, 3.19863676, 3.69524099, 4.23153984, 4.55615369,
       5.45320197, 5.03647416, 4.77975975, 4.06591135, 4.3894747 ,
       4.46325425, 4.34904271, 3.7653852 , 4.15303479, 4.64671392,
       4.42268909, 3.48594502, 4.68509802, 4.59733821, 4.11476424,
       4.63337816, 4.31084398, 4.17921815, 4.98557363, 3.86633414,
       4.69576483, 4.61009272, 5.05985746, 4.28214593, 4.3858583 ,
       4.01318894, 4.34904271, 3.99473575, 5.160401  , 4.80224866,
       5.38219455, 4.6345336 , 3.96006372, 4.34036027, 3.96575018,
       4.5251551 , 4.29139109, 4.41299158, 4.06364422, 5.08255264,
       4.36782317, 3.7579283 , 4.48311751, 4.77078721, 4.49032359,
       4.19230553, 4.36276109, 4.45085926, 4.89699397, 4.27874308,
       4.42509873, 5.51749794, 4.85568342, 3.74355404, 4.26790423,
       4.06908704, 4.13939241, 4.57301003, 3.12753119, 3.909136  ,
       4.55808359, 4.29914071, 4.27049096, 4.00905482, 4.26110814,
       5.160401  , 4.9681536 , 3.81885832, 3.75703504, 4.45809778,
       3.12344016, 3.90163708, 3.56614428, 4.47640686, 4.48420706,
       4.07543831, 4.67323471, 4.65318956, 4.57466747, 5.96103896,
       5.33845696, 4.03647416, 4.78476089, 4.35018388, 4.30180961,
       3.94761127, 3.90365956,        nan, 4.09320147, 4.7998208 ,
       4.60500576, 4.08371629, 3.66106694, 4.89285714, 3.89132172,
       4.62002119, 4.61633801, 3.77932696, 3.81885832, 4.09076568,
       3.69647339, 5.08944278, 3.15487494,        nan, 4.22019695,
       5.45320197, 3.22019695, 4.03647416, 4.87939231, 3.03647416,
       3.77468234, 4.77932696, 4.22019695, 4.2258893 , 3.89758697,
       3.26771218, 5.45320197, 4.27747253, 4.26386044, 4.27550744,
              nan, 4.46232946, 4.22019695, 4.09320147, 4.0064224 ,
       3.160401  , 4.03474637,        nan, 4.07869178,        nan,
       4.45320197, 3.77932696, 4.05931705, 4.77932696, 4.89285714,
       3.14285714, 2.70180976,        nan, 6.03647416, 4.05039338,
       2.33590703, 3.97351307, 1.49111922,        nan, 4.83082206,
       4.21512655, 5.45320197, 4.37392044, 4.26414939, 4.4644845 ,
       4.19394311, 4.4280206 , 3.86044748, 4.67870556, 4.33845696,
       2.99513143, 3.78476089, 2.53406331, 3.160401  , 4.45320197,
       4.96437197, 5.27651888, 3.45320197, 4.63646645, 3.45320197,
       5.00285714, 3.84925978, 4.8101707 ,        nan, 2.89897657,
       3.88446378,        nan, 3.66106694, 4.8308379 ,        nan,
       4.40587167, 4.61607143, 3.89285714, 3.2258893 ,        nan,
       4.00285714, 4.36024845,        nan, 2.36024845,        nan,
       4.13210445,        nan, 5.50285714,        nan,        nan,
       4.36024845,        nan,        nan, 4.50285714, 5.13210445,
              nan,        nan,        nan, 4.06564852,        nan,
              nan,        nan, 3.89285714,        nan,        nan,
              nan,        nan,        nan, 4.15971652, 3.50285714,
       4.63990747, 3.50285714, 5.27299337, 4.82273679, 5.13210445,
       3.89285714, 2.50285714,        nan, 3.53729541, 5.13210445,
       5.13210445,        nan,        nan,        nan,        nan,
              nan, 3.00285714, 4.79769558,        nan, 3.79438369,
              nan,        nan, 3.63210445,        nan, 4.00285714,
              nan,        nan, 2.00285714, 3.00285714,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan, 5.11758405, 2.63210445,        nan,        nan,
              nan, 4.50285714,        nan,        nan,        nan,
              nan, 5.13210445,        nan, 3.82273679,        nan,
              nan,        nan, 5.00285714, 4.00285714,        nan,
       4.13210445,        nan, 3.00285714, 4.13210445, 5.50285714,
              nan, 3.00285714, 5.00285714,        nan, 2.00285714,
              nan, 4.00285714,        nan, 4.63210445,        nan,
              nan, 4.55147197,        nan,        nan,        nan,
              nan,        nan,        nan,        nan, 5.13210445,
              nan,        nan, 4.27747253,        nan, 5.61607143,
              nan,        nan, 4.63210445,        nan, 5.11607143,
              nan, 4.61607143,        nan,        nan, 4.11607143,
              nan, 4.61607143,        nan,        nan,        nan,
              nan, 4.66030947,        nan,        nan,        nan,
              nan,        nan, 5.61607143, 4.63210445, 4.61607143,
              nan,        nan, 5.61607143,        nan,        nan,
              nan])

In [18]:
# Add predicted values as new column
note_matrix_cleaned['predicted'] = predictions

# Top ten best predicted notes
top_ten_predicted = note_matrix_cleaned.sort_values('predicted', ascending=False).head(n=10)

# Print movies title
index = top_ten_predicted.index.to_numpy().astype('int64')
df_movies_indexed = df_movies.set_index('movieId')
results = df_movies_indexed.loc[index]

results

/tmp/ipykernel_12705/1778805541.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  note_matrix_cleaned['predicted'] = predictions

,title,genres
movieId,,
2699,Arachnophobia (1990),Comedy|Horror
1639,Chasing Amy (1997),Comedy|Drama|Romance
109487,Interstellar (2014),Sci-Fi|IMAX
58559,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
91529,"Dark Knight Rises, The (2012)",Action|Adventure|Crime|IMAX
1288,This Is Spinal Tap (1984),Comedy
35836,"40-Year-Old Virgin, The (2005)",Comedy|Romance
3996,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",Action|Drama|Romance
2324,Life Is Beautiful (La Vita Ã¨ bella) (1997),Comedy|Drama|Romance|War
908,North by Northwest (1959),Action|Adventure|Mystery|Romance|Thriller

In [19]:
# Let's take a look at initial notes left by user

user_query_no_na = user_query.dropna()
user_initial_notes = df_movies_indexed.loc[user_query_no_na.index.to_numpy()]
user_initial_notes['note'] = user_query_no_na
user_initial_notes

,title,genres,note
movieId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0
32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,3.0
95,Broken Arrow (1996),Action|Adventure|Thriller,5.0
141,"Birdcage, The (1996)",Comedy,4.0
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,4.0
648,Mission: Impossible (1996),Action|Adventure|Mystery|Thriller,3.0
733,"Rock, The (1996)",Action|Adventure|Thriller,4.0
736,Twister (1996),Action|Adventure|Romance|Thriller,4.0
780,Independence Day (a.k.a. ID4) (1996),Action|Adventure|Sci-Fi|Thriller,5.0
786,Eraser (1996),Action|Drama|Thriller,4.0
858,"Godfather, The (1972)",Crime|Drama,5.0
1073,Willy Wonka & the Chocolate Factory (1971),Children|Comedy|Fantasy|Musical,5.0
1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,3.0
1356,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller,4.0